@media print {
    /* Ocultar botones al imprimir */
    button {
        display: none;
    }
    .navbar {
        display: none;
    }

    
    /* Ajustar el layout para impresión */
    .p-datatable {
        width: 100%;
    }

    .p-datatable .p-datatable-tbody > tr > td {
        padding: 0.5rem;
    }

    .group-header {
        background-color: #f4f4f4;
        font-weight: bold;
    }
    
    .subtotal-row {
        background-color: #e9e9e9;
        font-weight: bold;
    }
    
    .total-general {
        margin-top: 20px;
        font-size: 1.2rem;
        font-weight: bold;
    }
    

   

    
    /* Personalizar más estilos si es necesario */
}
